.isa_error {
    border: 1px solid rgba(241, 6, 6, 0.81);
    background-color: rgba(220, 17, 1, 0.16);
    border-radius: 8px;
    color: #ff0303;
    transition:0.5s;
    cursor:pointer;
}
.isa_info {
    border: 1px solid rgba(6, 44, 241, 0.46);
    background-color: rgba(7, 73, 149, 0.12156862745098039);
    border-radius: 8px;
    color: #0396ff;
    transition: 0.5s;
    cursor: pointer;
}
.isa_success {
    border: 1px solid rgba(36, 241, 6, 0.46);
    background-color: rgba(7, 149, 66, 0.12156862745098039);
    border-radius: 8px;
    color: #0ad406;
    transition:0.5s;
    cursor:pointer;
}